<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="Blood.Donate.BloodDonate.blood">

    <application
        android:allowBackup="true"
        android:icon="@drawable/drop_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/drop_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="Blood.Donate.BloodDonate.blood.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="Blood.Donate.BloodDonate.blood.signup" />
        <activity android:name="Blood.Donate.BloodDonate.blood.contact" />
        <activity android:name="Blood.Donate.BloodDonate.blood.ViewListContents" />
        <activity android:name="Blood.Donate.BloodDonate.blood.about" />
        <activity android:name="Blood.Donate.BloodDonate.blood.ViewListContentsSearch" />
        <activity android:name="Blood.Donate.BloodDonate.blood.search" />
        <activity android:name="Blood.Donate.BloodDonate.blood.ProfileActivity" />
        <activity android:name="Blood.Donate.BloodDonate.blood.launch" />
        <activity
            android:name="Blood.Donate.BloodDonate.blood.Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Blood.Donate.BloodDonate.blood.Login" />
    </application>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>